{% include "header.html" %}
{{ JSGlue.include() }}

<h2>User Profile!</h2>

    <form action="/settings" method="POST">
        <label for="username">user_name</label>
        <input type="hidden" name="user_id" value="{{user_id}}">
        <input type="text" name="username" class="form-control">
        <input type="hidden" name="property" value="username">
        <input type="submit" value="change name">
    </form>

    <form action="/settings" method="POST">
        <label for="password">password</label>
        <input type="hidden" name="user_id" value="{{user_id}}">
        <input type="password" name="password" class="form-control">
        <input type="hidden" name="property" value="password">
        <input type="submit" value="change password">
    </form>

    <div style="display:block;">
        <div id="username">{{user_name}}</div>
    </div>

{% include "footer.html" %}
